<div class="fluid-row">

  <div class="col-sm-3">
    <ultoc>
      <litoc><a class=toc-item href="index.html">Introduction</a></litoc>
      <litoc><a class=toc-item href="firstSteps.html">First steps</a></litoc>
      <litoc><a class=toc-item href="convert.html">Convert from JS</a></litoc>
      <litoc><a class=toc-item href="shiny.html">Insert into shiny apps</a></litoc>
    </ultoc>
  </div>
  
  <script>
    // manage active state of toc based on current page
    var href = window.location.pathname;
    href = href.substr(href.lastIndexOf('/') + 1);
    if (href === "" || href === "index.html")
      href = "index.html";
    $('a.toc-item[href="' + href + '"]').addClass('active');
  </script>
  
  <div class="col-sm-9">
