<!-- bootstrap row container for all the content -->
  
<div class="row" data-sticky_parent>
  
  <nav class="col-xs-2 col-md-2" id="navbar">
    
    <ultoc class="toc" id="nav">
      <div class="main-toc"><b>R Package: rAmCharts</b></div>
      <hr/>
      
      <b class="section-toc">Getting started</b>
      <br/><br/>

      <litoc><a class="toc-item" href="index.html">Introduction</a></litoc>
      <litoc><a class="toc-item" href="convert.html">Convert from JS</a></litoc>
      <litoc><a class="toc-item" href="shiny.html">Use in shiny apps</a></litoc>
      <litoc><a class="toc-item" href="advance.html">Advanced features</a></litoc>
      
      <hr/>
      
      <b class="section-toc">Functions 'am'</b>
      <br/><br/>
      
      <!--
      <litoc list-style-type:disc><a class="toc-item" href="amAngularGauge.html">amAngularGauge</a></litoc>
      -->
      <litoc list-style-type:disc><a class="toc-item" href="amBarplot.html">amBarplot</a></litoc>
      <litoc list-style-type:disc><a class="toc-item" href="amBoxplot.html">amBoxplot</a></litoc>
      <!--
      <litoc list-style-type:disc><a class="toc-item" href="amBullet.html">amBullet</a></litoc>
      -->
      <litoc list-style-type:disc><a class="toc-item" href="amCandlestick.html">amCandlestick</a></litoc>
      <litoc list-style-type:disc><a class="toc-item" href="amHist.html">amHist</a></litoc>
      

      <litoc list-style-type:disc><a class="toc-item" href="amRadar.html">amRadar</a></litoc>
      
      <!--
      <litoc list-style-type:disc><a class="toc-item" href="amMekko.html">amMekko</a></litoc>
      <litoc list-style-type:disc><a class="toc-item" href="amPie.html">amPie</a></litoc>
      <litoc list-style-type:disc><a class="toc-item" href="amPlot.html">amPlot</a></litoc>
      <litoc list-style-type:disc><a class="toc-item" href="amRadar.html">amRadar</a></litoc>
      <litoc list-style-type:disc><a class="toc-item" href="amWaterfall.html">amWaterfall</a></litoc>
      <litoc list-style-type:disc><a class="toc-item" href="amWind.html">amWind</a></litoc>
      -->
    </ultoc>
    
    <footer>
      <div class="copyrights"><small> © 2015-2016 DataKnowledge</small></div>
    </footer>
  </nav><!-- end of left column -->
  
  <div class="col-xs-10 col-md-10">
    <div class="row">
      <div class="col-xs-11 col-md-11">
