<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>

<style type="text/css">
ultoc {
  background-color: #f1f1f1;
  /*
  margin: 0;
  padding: 0;
    */
  width: 15%;
  overflow: auto;
  position: fixed;
}

litoc a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

litoc a.active {
    background-color: #3c8dbc;
    color: white;
}

litoc a:hover:not(.active) {
    background-color: #555;
    color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Pompiere', cursive;
}

div {
  font-family: 'Open Sans Condensed', sans-serif;
}

footer {
  border-top: 1px solid #CCC;
  margin-top: 60px;
  margin-bottom: 48px;
  opacity: .75;
}

</style>
