#navbar {
  background-color: #f1f1f1 !important;
  overflow: auto;
}

litoc a {
    display: block;
    color: #00000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

litoc a.active {
    background-color: #3c8dbc;
    color: white;
}

litoc a:hover:not(.active) {
    background-color: #555;
    color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Pompiere', cursive;
}

div {
  font-family: 'Hind', sans-serif;
}

footer {
  border-top: 1px solid #CCC;
  margin-top: 60px;
  margin-bottom: 48px;
  opacity: .75;
}

body .r, .javascript, code{
  font-size:11px;
}

body .ramcharts_base {
  height: 60% !important;
  margin-left: auto;
  margin-right: auto;
}

body .main-toc {
  text-align:center;
}

body .section-toc {
  color:#A9A9A9;
  margin-left:8px;
}

body .main-container {
  max-width: 95%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.partdivtitle {
  text-align: center;
  border-style: solid;
  border-color: #A4A4A4;
  padding:5px;
}

.amOptions {
  text-align: center;
  border-style: solid;
  background-color: #A4A4A4;
  color: #FFFFFF;
  padding: 5px;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

#img-github {
  height: auto;
  width: auto;
  max-width: 50px;
}

.copyrights {
  text-align:center;
}