#navbar {
  /*background: #f1f1f1;*/
  padding-left: 15px;
  padding-right: 15px;
  background: #3c8dbc;
  overflow-y: auto;
  overflow-x: scroll;
  height:100vh;
}

#title-toc {
text-align: center;
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 2em;
}

body .toc {
  padding-left: 0;
  list-style-position: inside;
}

ul.toc {
  list-style-type: none;
}

ul.toc li.litoc a {
  display: inline-block;
}

body .section-toc {
  color:#000000;
  font-size:1.2em;
}

body .litoc {
  white-space: nowrap;
  text-overflow: ellipsis;
}

body .litoc .toc-item {
  display: block;
  color: white;
  padding: 8px 0 10px 6px;
}

body ul.toc .active {
  background-color: #367fa9;
  color: white;
  text-decoration: none;
  width: 100%;
}

body .litoc a:hover:not(.active) {
  background-color: #555;
  color: white;
  text-decoration: none;
  width: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-size: 24;
}

h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  color: #3c8dbc;
}

body div {
  font-family: 'Hind',Helvetica, Arial, sans-serif;
}

#navbar footer {
border-top: 1px solid #CCC;
margin-top: 60px;
margin-bottom: 48px;
opacity: .75;
}


body code, .r, .javascript{
  font-size:11px;
}

/*body .ramcharts_base {
  height: 60% !important;
  margin-left: auto;
  margin-right: auto;
}*/

body .main-container {
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.partdivtitle {
  text-align: center;
  border-style: solid;
  border-color: #367fa9;
  padding: 5px;
  margin-top: 1.5em;
}

.amOptions {
  text-align: center;
  border-style: solid;
  /*background-color: #A4A4A4;*/
    background-color: #367fa9;
    color: #FFFFFF;
    padding: 8px;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

#img-github {
height: auto;
width: auto;
max-width: 50px;
}

.copyrights {
  text-align:center;
}

[id^=htmlwidget] {
  height: auto;
  width: auto;
  max-height: 70%;
}