<style type="text/css">
  body {
    padding-top: 20px;
  }
  .navbar-brand {
    font-weight: bold;
  }
  footer {
    border-top: 1px solid #CCC;
    margin-top: 60px;
    margin-bottom: 48px;
    opacity: 0.75;
  }
  .content-body>:first-child, .content-body>:first-child>:first-child {
    margin-top: 0 !important;
  }
  p code {
    white-space: inherit;
  }
</style>

<div class="fluid-row">
  <div class="col-sm-12">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="./">visNetwork, an R package for interactive network visualization</a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="fluid-row">
  <div class="col-sm-3">
    <div class="list-group">
      <a class="list-group-item" href="./">Introduction</a>
      <a class="list-group-item" href="nodes.html">Nodes</a>
      <a class="list-group-item" href="edges.html">Edges</a>
      <a class="list-group-item" href="groups.html">Groups</a>
      <a class="list-group-item" href="legend.html">Legend & Title</a>
      <a class="list-group-item" href="image_icon.html">Use image & Icon</a>
      <a class="list-group-item" href="options.html">Options</a>
      <a class="list-group-item" href="layout.html">Layout</a>
      <a class="list-group-item" href="igraph.html">Igraph</a>
      <a class="list-group-item" href="performance.html">Performance</a>
      <a class="list-group-item" href="shiny.html">Shiny</a>
      <a class="list-group-item" href="interaction.html">Interactions</a>
      <a class="list-group-item" href="physic.html">Physics</a>
      <a class="list-group-item" href="configure.html">Configure tools</a>
      <a class="list-group-item" href="more.html">More...</a>
    </div>
    <script>
      // manage active state of toc based on current page
      var href = window.location.pathname;
      href = href.substr(href.lastIndexOf('/') + 1);
      if (href === "" || href === "index.html")
        href = "./";
      $('a.list-group-item[href="' + href + '"]').addClass('active');
    </script>
  </div>
  <div class="col-sm-9 content-body">
